*{
    padding: 0;
    margin: 0;
}

.header{
    width: 1280px;
    height: 189px;
    margin: 63px auto;
}

.header-title{
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.header-title span{
    color: #4BCAFF;
}

.header-menu-container{
    width: 1280x;
    height: 69px;
    background-color: #35444F;
    margin: 40px auto 0;
}

.header-menu-list{
    display: flex;
    height: 69px;
    justify-content: center;
    list-style-type: none;
}

.header-menu-item{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0 30px;
    height: 69px;
    line-height: 69px;
}

.header-menu-item:hover{
    background-color: #222F3A;
}

.header-menu-item:not(:first-child){
    border-left: none;
}

.header-menu-item a{
    text-decoration: none;
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
}

.main{
    width: 1280x;
    height: 832px;
}

.main-container{
    width: 1280x;
    height: 832px;
    display: flex;
    gap: 50px;
}

.main-sidebar-menu{
    width: 344px;
    height: 399px;
    border: 1px solid #000;
    margin-left: 120px;
}

.main-sidebar-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.main-sidebar-item{
    width: 342px;
    height: 81px;
}

.main-sidebar-item:hover{
    background-color: #DBDBDB;
    padding-left: 20px;
    width: 324px;
    height: 75px;
    margin-bottom: 6px;
}

.main-sidebar-item a{
    text-decoration: none;
    color: #485863;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 44px;
    line-height: 75px;
}

.main-content-container{
    width: 885px;
    height: 832px;
}

.main-container-img{
    width: 882px;
    height: 529px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-img img{
    width: 320px;
    height: 381px;
    transition: transform 0.5s;
}

.main-container-img:hover img{
    transform: scale(1.2);
}

.main-container-text{
    margin-top: 40px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.text2{
    margin-top: 13px;
}

.footer{
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    margin: 54px auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.footer-menu-container{
    width: 875px;
}

.footer-menu-list{
    display: flex;
    list-style-type: none;
    width: 900px;
}

.footer-menu-item{
    width: auto;
    display: flex;
    padding-top: 10px;
}

.footer-menu-item a{
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    color: #000;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    margin-right: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
}

.footer-menu-item a:hover{
    border-bottom: 2px solid #3181A6;
    color: #3181A6;
}

.footer-tittle{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    cursor: default;
}